body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 238);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#registroForm {
    background-color: aliceblue;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 10px black;
}

label {
    display: block;
    margin-bottom: 5px;
}

label.inline{
    display: inline-block;
}

input, select{
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"]{
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select{
    width: 100%;
}

input[type="submit"]{
    background-color: rgb(171, 226, 171);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

